.modal-content{ padding: 20px;}
.modal-content .btn-default{ width: 53px;font-family: Arial;font-weight: bold;font-size: 16px;margin: 4px;}
.modal-content .btn-primary{ width: 248px;font-family: Arial;font-weight: bold;font-size: 16px;margin: 4px;}